body {
    margin: 0px;
    background-color: #ebebeb;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    font-weight: bolder;
    line-height: 1;
    margin: 0px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.8;
    color: #50585e;
}

span {
    color: white;
}

button {
    background-color: white;
    color: black;
    border-radius: 20px; 
    border: none;
    text-decoration: none;
    padding: 15px 30px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    width: 150px;
    margin-top: 50px;
}

.container {
    width: 1100px;
    margin: 0px auto;
}


/*************** HEADER ****************/

header.index {
    background-color: #c7ddea;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "blue1 orange2"
    "blue1 yellow3";
    padding: 0px 0px 0px 130px;
}

header button {
    margin-bottom: 150px;
}

.item1 {
    grid-area:blue1;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    /* background-color: #c7ddea; */
    background-image: url(../images/family.png);
    background-size: 300px auto;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 100%;
}

.item1 h1 {
    margin: 0px 80px 20px 0px;

}

.item1 p {
    margin: 0px 180px 0px 0px;
}

.item1 img {
    height: auto;
    width: 350px;
    align-self: flex-end;
}

.item2 {
    grid-area: orange2;
    background-color: #f17949;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item3 {
    grid-area: yellow3;
    background-color: #fab131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item2 p,
.item3 p {
    font-size: 0.8rem;
    margin: 0 0 5px 0;
}

/************* NAVIGATION ************/

nav {
    display: flex;
    justify-content: space-around;
    background-color: #ebebeb;
    padding: 25px 200px;
    
}

.top-nav a {
    font-family: 'Fira Sans', sans-serif;
    color: #a9a19e;
    text-decoration: none;
}

.toplink a{
    color: black;
}

nav a:active,
nav a:hover {
    color: #000000

}

nav a.current {
    color: #000000;
}

a {
    text-decoration: none;
}


/************* MAIN ****************/

main.index {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background: linear-gradient(180deg, #a9a19e 50%, #fab131 50%);
    padding: 130px;
}


main > article > p {
    width: 45%;
}

.rubrik {
    width: 55%;
}

.part1 {
    display: flex;
}

.part1 p {
    margin-right: 50px;
    margin-left: 100px;
}

.card-article {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px 50px 0px;
}

.card {
    background-color: white;
    width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3 {
    margin: 20px;
}

.card p {
    font-size: 0.8rem;
    text-align: center;
    padding: 0px 20px 40px 20px;
    margin: 0px;
    color: #a9a19e;
    line-height: 1.3rem;
}

.cardbg {
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0.3rem;
    margin-top: -20px;
}

.child-box {
    background-color: #c7ddea;
}

.child-box img{
    width: 40%;
}

.just-box {
    background-color: #fab131;
}

.just-box img{
    width: 40%;
}

.fart-box {
    background-color: #f17949;
}

.fart-box img{
    width: 60%;
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 100px 80px 150px 80px; */
}

.about-us h1 {
    margin-bottom: 20px;
}

.about-us p {
    text-align: center;
    line-height: 1.3rem;
    width: 60%;
}

/************ SECTION RUTOR ************/

.rutor {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 333px 333px;
}

.rutor article {
    display: flex;
    flex-direction: column;
    
}

.ruta1 {
    align-items: center;
    justify-content: center; 
}

.ruta1 h1 {
    text-align: center;
    margin: 0 50px;
}

.card-head {
    display: flex;
    justify-content: flex-start;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

}
.card-head h2 {
    font-size: 1.8rem;
    margin: 20px;
    color: rgba(0,0,0,0.5);    
}

.card-body p {
    color: #000000;
    text-align: center;
    margin: 0 50px;
}

.rutor article:nth-of-type(2n) {
    background-color: white;
}

.rutor article:first-of-type {
    background-color: #c7ddea;
}

.rutor article:nth-of-type(3) {
    background-color: #ebebeb;
}

.rutor article:nth-of-type(5) {
    background-color: #f17949;
}

.toplink {
    background-color: #a9a19e;
    padding: 20px 200px;
}

.toplink p {
    margin:0;
    color:black;
}

.toplink a {
    text-align: center;
}

ion-icon {
    font-size: 2rem;
    margin: 0px;
}

/***************** FOOTER *************/

footer {
    background-color: #a9a19e;
    height: 300px;
}

/***************** CONTACT PAGE *************/

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:400px;
    background-color: #c7ddea;
    background-image: url(../images/adult2.png);
    background-repeat: no-repeat;
    background-size: 200px auto;
    background-position-y: 100%;
    background-position-x: 90%;
    
}

.sign-up {
    display: flex;
    background-color: #a9a19e;
    padding: 130px 130px 0px 130px;
}

.left {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

input {
    width: 80%;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    border-radius: 4px;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 10px;
    resize: none;
    border-radius: 4px;
}

.right button {
    /* justify-content: flex-end; */
    align-self: flex-end;
    margin-right: 60px;
    margin-top: 30px;
}

form p {
    margin: 20px 0 0 0;
}